<div class="top-row pl-4 navbar navbar-dark">
    <a class="navbar-brand" href="">WonkaBlazorWebApp</a>
    <button class="navbar-toggler" onclick="@ToggleNavMenu">
        <span class="navbar-toggler-icon"></span>
    </button>
</div>

<div class="@NavMenuCssClass" onclick="@ToggleNavMenu">
    <ul class="nav flex-column">
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                <span class="oi oi-home" aria-hidden="true"></span> Home
            </NavLink>
        </li>
        <!--
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="counter">
                <span class="oi oi-plus" aria-hidden="true"></span> Counter
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="fetchdata">
                <span class="oi oi-list-rich" aria-hidden="true"></span> Fetch data
            </NavLink>
        </li>
        -->
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="creategrove">
                <span class="oi oi-list-rich" aria-hidden="true"></span>#1: Create Grove
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="createowner">
                <span class="oi oi-list-rich" aria-hidden="true"></span>#2: Create Owner
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="createruletree">
                <span class="oi oi-list-rich" aria-hidden="true"></span>#3: Create RuleTree
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="invokeruletree">
                <span class="oi oi-list-rich" aria-hidden="true"></span>#4: Invoke RuleTree
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="fetchreports">
                <span class="oi oi-list-rich" aria-hidden="true"></span>#5: Retrieve reports
            </NavLink>
        </li>
    </ul>
</div>

@functions {
    bool collapseNavMenu = true;

    string NavMenuCssClass => collapseNavMenu ? "collapse" : null;

    void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }
}
