@page "/createowner"
@inject HttpClient Http
@inject HttpClient httpClient

<h1>Rule Tree Owners</h1>

<p>This component demonstrates how to register a potential owner for a RuleTree (i.e., a user account on the chain).</p>

<div>
    <div class="row">
        <div class="col-sm-3">
            <p>Owner ID</p>
        </div>
        <div class="col-sm-4">
            <input placeholder="Enter Owner ID" bind="@ownerId" />
        </div>
    </div>
    <br />
    <div class="row">
        <div class="col-sm-3">
            <p>Owner Name</p>
        </div>
        <div class="col-sm-4">
            <input placeholder="Enter Owner Name" bind="@ownerName" />
        </div>
    </div>
    <br />
    <div class="row">
        <div class="col-sm-3">
            <p>Result</p>
        </div>
        <div class="col-sm-4">
            <text readonly bind="@finalresult" />
        </div>
    </div>
    <br />
    <div class="row">
        <div class="col-sm-2">
            <button onclick="@Submit" class="btn">Submit</button>
        </div>
    </div>
</div>

@functions {

    Dictionary<string, WonkaBlazorWebApp.Shared.WBWAOwner> owners;

    string ownerId;
    string ownerName;
    string ownerPassword;
    string finalresult;

    protected override async Task OnInitAsync()
    {
        owners = new Dictionary<string, WonkaBlazorWebApp.Shared.WBWAOwner>();

        owners["0x12890d2cce102216644c59dae5baed380d84830c"] =
            new WonkaBlazorWebApp.Shared.WBWAOwner() { OwnerAddress = "0x12890d2cce102216644c59dae5baed380d84830c", OwnerName = "Main User" };

        owners["0x7aba3df73d31904178512d36fbbe324464184730"] =
            new WonkaBlazorWebApp.Shared.WBWAOwner() { OwnerAddress = "0x7aba3df73d31904178512d36fbbe324464184730", OwnerName = "User Two" };

        owners["0x12890d2cce102216644c59dae5baed380d84830c"].OwnerPassword = "N/A";
        owners["0x7aba3df73d31904178512d36fbbe324464184730"].OwnerPassword = "N/A";

        ownerId       = "0x7aba3df73d31904178512d36fbbe324464184730";
        ownerName     = owners["0x7aba3df73d31904178512d36fbbe324464184730"].OwnerName;
        ownerPassword = owners["0x7aba3df73d31904178512d36fbbe324464184730"].OwnerPassword;
    }

    private async void Submit()
    {
        WonkaBlazorWebApp.Shared.WBWAOwner newOwner = owners[ownerId];

        await Http.SendJsonAsync<WonkaBlazorWebApp.Shared.WBWAOwner>(System.Net.Http.HttpMethod.Post, "api/treeowner", newOwner);

        finalresult = "Done!";
    }

}
